<html>
  <head>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="index.css">
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <!-- TODO: need to add validation to only accept JSON through EITHER the text area OR file upload, not both -->
    <form action="http://127.0.0.1:3000" method="post" enctype="multipart/form-data">
      <div>
        <label for="jsonText">JSON data</label>
        <textarea id="jsonText" name="jsonText"></textarea>
      </div>
      <div>
        <label for="jsonFile"></label>
        <input type="file" id="jsonFile" name="jsonFile" accept=".json">
      </div>
      <button id="form-btn" type="submit" value="submit">send the data through the form</button>
      <button id="ajax-btn" type="button">send the data with AJAX</button>

      <pre id="csv"><%= csv %></pre>
      <div id="download-csv-container">
        <a id="download-csv" href="" download="data.csv">Download CSV</a>
      </div>
    </form>
    <button id="change-btn">Change how to send the data</button>
    <button id="data-delete-btn">Delete the CSV data</button>

 <!-- ondragover="console.log('hello');"
      ondrop="console.log('hi');" -->
    <div
      id="drag-drop"
      style="width: 500px; height: 500px; background-color: #BADA55">
      drag things here
    </div>
  </body>
</html>

